VITE_SUPABASE_URL=https://yhokvqhllmmssyvgwzqv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlob2t2cWhsbG1tc3N5dmd3enF2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc4Mzg2MTEsImV4cCI6MjEwMzQxNDYxMX0.6Mfxb8cRy_l9yy3WecDRgtQ84HLmTtDsZbtinrt0AX8
